<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Memmy</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>blue</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>blue</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>brown</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>brown</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>darkgray</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>darkgray</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>green</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>green</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>lightgray</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>lightgray</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>orange</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>orange</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>pink</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>pink</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>pride</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>pride</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>pridenew</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>pridenew</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>purple</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>purple</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>red</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>red</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>transpride</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>transpride</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>yellow</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>yellow</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>purple</string>
			</array>
			<key>CFBundleIconName</key>
			<string>purple</string>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>0.5</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>memmyapp</string>
				<string>com.gkasdorf.memmyapp</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>exp+memmyapp</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>2</string>
	<key>CodePushDeploymentKey</key>
	<string>f3fsdf</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Allow $(PRODUCT_NAME) to access your camera</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Someone posted a link to an internal IP address. Please disregard this message and deny access.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Allow $(PRODUCT_NAME) to access your microphone</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Allow Memmy App to save photos.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Allow Memmy App to access your photos</string>
	<key>UILaunchStoryboardName</key>
	<string>SplashScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<false/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Automatic</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
